@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700");


$base_font_size: 14px;
$base_color: #ed1c24;
$a-color: #333333;


body{
    font-family: 'Roboto Condensed', serif;
    font-size: 14px;
}

a{
    color: $a-color;
    font-size: $base_font_size; 
}

.navbar-default{
    background-color: #231f20;
    border-radius: 0px;
    border: 0px;
    border-bottom: 3px solid #dcdcdc;
}